django==5.1.0
djangorestframework==3.15.2
python-dotenv==1.0.1
psycopg[binary]>=3.2.10
gunicorn==22.0.0
whitenoise==6.7.0
pinecone==5.0.0
pypdf==4.3.1
docx2txt==0.8
pytesseract==0.3.13
pdf2image==1.17.0
pillow==11.0.0
requests==2.32.3
groq==0.13.0
dj-database-url==2.2.0
langchain-text-splitters==0.2.2